__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
.env
.env.*
!.env*.example
.mysql_data/
redis_data/
db.sqlite3
.DS_Store
.idea/
.vscode/
logs/
hooks/
objects/
refs/git_log.txt
 
# Ignore Locust load test CSV outputs
locust_out*.csv
